<div id="div_form">
    <h3>Lista Carros (Aguardando Manutenção)</h3>

    <form id="formulario">
        <label for="descricao">Descrição do Carro</label>
        <input 
            type="text"
            name="descricao"
            id="descricao"
            [(ngModel)]="descricaoCarro">

        <label for="valor_carro">Valor do Carro</label>
        <input 
            type="number"
            name="valor_carro"
            id="valor_carro"
            [(ngModel)]="valorCarro">

        <button type="button" id="addbutton" (click)="addItem()">Adicionar</button>
        <button type="button" id="limpar" (click)="limparTudo()">Limpar Tudo</button>
    </form>

    <!-- Lista 1: Carros em Aberto -->
    <div id="div-list">
        @for (elem of listaItens; track elem.idProduto) {
            <div class="div-item">
                <input 
                    type="checkbox" 
                    [(ngModel)]="elem.statusSelecionado"
                    (change)="moverParaConsertados(elem)">

                <span>
                    #{{elem.idProduto}} - {{elem.descricaoCarro}} (R$ {{elem.valorCarro}})
                </span>
            </div>
        } @empty {
            <div class="div-item">
                Nenhum carro na fila de manutenção.
            </div>
        }
    </div>

    <hr>

    <!-- Lista 2: Carros Consertados -->
    <h3>Carros Consertados</h3>
    
    <div id="div-list-consertados">
        @for (elem of listaConsertados; track elem.idProduto) {
            <div class="div-item item-concluido">
                <input 
                    type="checkbox" 
                    [(ngModel)]="elem.statusSelecionado"
                    (change)="voltarParaLista(elem)">

                <span class="riscado">
                    ✅ #{{elem.idProduto}} - {{elem.descricaoCarro}} (R$ {{elem.valorCarro}})
                </span>
            </div>
        } @empty {
            <div class="div-item">
                Nenhum carro consertado ainda.
            </div>
        }
    </div>
</div>