<div id="div_form">
    <h3>Lista Carros</h3>

    <form id="formulario">
        <label id="descricao_carro">Descrição do Carro</label>

        <input 
        type="text"
        name="descricao"
        id="descricao"
        [(ngModel)]="descricaoCarro"
        >

        <label for="valor_carro">Valor do Carro</label>

        <input 
        type="text"
        name="valor_carro"
        id="valor_carro"
        [(ngModel)]= "valorCarro">

        <button type="button" id="addbutton" (click)="addItem()">Adicionar</button>

        <button type="button" id="limpar"(click)="limparTudo">Limpar</button>
    </form>
    <div id="div-list">
        @for(elem of listaItens; track elem.idProduto){

            <div class="div-item" [class.item-concluido]="elem.statusSelecionado">
                
                <input 
                    type="checkbox" 
                    [(ngModel)]="elem.statusSelecionado">

                <span [class.riscado]="elem.statusSelecionado">
                    {{elem.idProduto}} - {{elem.descricaoCarro}} R$ {{elem.valorCarro}}
                </span>

            </div>

        }@empty{

            <div class="div-item">
                Nenhum Carro na lista
            </div>

        }
    </div>
</div>
